
:root {
  --menu-bg-dark: linear-gradient(45deg, rgba(10, 20, 28, 0.2) 0%, rgba(10, 20, 28, 0.7) 100%);
  --menu-bg-light: linear-gradient(45deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.85) 100%);
  --menu-border-dark: rgba(255, 255, 255, 0.08);
  --menu-border-light: rgba(0, 0, 0, 0.08);
  --item-border-dark: rgba(255, 255, 255, 0.1);
  --item-border-light: rgba(0, 0, 0, 0.1);
  --item-color-dark: #fff;
  --item-color-light: #0a141c;
  --item-bg-hover-dark: rgba(255, 255, 255, 0.1);
  --item-bg-hover-light: rgba(10, 20, 28, 0.09);
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.target {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2vw;
  z-index: 1;
}

.target-light { left: 0; }
.target-dark { right: 0; }

.right-click {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  padding: 2vw;
  border-radius: 1vw;
  font-size: 2.4vw;
  background-color: #fff;
}

.contextMenu {
  --menu-bg: var(--menu-bg-dark);
  --menu-border: var(--menu-border-dark);
  --item-border: var(--item-border-dark);
  --item-color: var(--item-color-dark);
  --item-bg-hover: var(--item-bg-hover-dark);

  position: fixed;
  top: var(--top);
  left: var(--left);
  z-index: 999999999;
  
  display: flex;
  flex-direction: column;
  
  height: 0;
  overflow: hidden;
  margin: 4px;
  padding: 0;
  list-style: none;
  
  background: var(--menu-bg);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 
    0 0 0 1px var(--menu-border),
    0 2px 2px #000,
    0 4px 4px #000,
    0 10px 8px #000,
    0 15px 15px #000,
    0 30px 30px #000,
    0 70px 65px #000;
  
  animation: menuAnimation 0.4s 0s both;
  transform-origin: left;
}

.contextMenu-item {
  padding: 4px;
}

.contextMenu-item[data-divider] {
  border-color: var(--item-border);
}

.contextMenu-item[data-divider="top"],
.contextMenu-item[data-divider="top-bottom"] {
  border-top: 1px solid;
}

.contextMenu-item[data-divider="bottom"],
.contextMenu-item[data-divider="top-bottom"] {
  border-bottom: 1px solid;
}


.contextMenu-icon {
  display: flex;
  margin-right: 8px; /* Espacio entre el ícono y el contenido */
  width: 16px; /* Ajusta el tamaño del ícono */
  height: 16px;
}

.contextMenu-content {
  display: flex;
}


.contextMenu-button {
  width: 100%;
  padding: 6px 24px 6px 7px;
  border: 0;
  border-radius: 4px;
  
  color: var(--item-color);
  background: transparent;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  
  display: flex;
  align-items: center;
  
  animation: menuItemAnimation 0.2s 0s both;
  cursor: pointer;
}

.contextMenu-button:hover {
  background-color: var(--item-bg-hover);
}

.contextMenu[data-theme="light"] {
  --menu-bg: var(--menu-bg-light);
  --menu-border: var(--menu-border-light);
  --item-border: var(--item-border-light);
  --item-color: var(--item-color-light);
  --item-bg-hover: var(--item-bg-hover-light);
}

@keyframes menuAnimation {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    height: var(--height);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menuItemAnimation {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}